main {
  color: #fff;
  background-image: linear-gradient(
      to right,
      rgba(15, 76, 117, 0.9),
      rgba(50, 130, 184, 0.85)
    ),
    url(../../images/consulting-2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.title {
  font-size: 60px;
}
.advisor-title {
}
.about-title,
.advisor-title {
  font-size: 32px;
  margin: 0 auto;
  width: max-content;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.advisor-title span {
  font-size: 22px;
}
.description {
  font-size: 24px;
  font-weight: 300;
  color: #eeeeee;
}
.description span {
  font-size: 40px;
  font-weight: 400;
}
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
