.card {
  color: #e5e5e5;
  background-image: linear-gradient(to bottom, #1b262c, #0f4c75);
  border: none;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
}
.my-card {
  height: 480px;
}
.card img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.card-text {
  font-size: 14px;
  font-weight: 500;
}
.card-text small {
  display: block;
  background-color: rgba(27, 38, 44, 0.5);
  padding: 6px 0 6px 8px;
  border-radius: 3px;
  border-bottom: 1px solid #bbe1fa;
  font-weight: 400;
  font-size: 14px;
}
.card-text small:not(:last-child) {
  margin-bottom: -16px;
}
.card-text span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.btn-hire {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  padding: 8px 26px;
  background-color: #bbe1fa;
  font-weight: 500;
  transition: all 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.btn-hire:hover {
  background-color: #1b87d0;
  color: #fff;
}
.btn-hire:active {
  transform: scale(0.98);
  box-shadow: 10px -10px 40px rgba(255, 255, 255, 0.2);
}
.icon-box a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #bbe1fa;
  transition: all 0.3s;
}
.icon-box a:hover {
  transform: scale(1.5) skew(-6deg);
  color: #1b87d0;
}
